.hero {
  background: $primary;
  color: $white;
  &__welcome {
    background: asset_url('hero-bg-min.jpg') $primary 50% 100% repeat-x;
    background-size: auto;
  }
}

.lead__hero {
  font-size: 32px;
  font-weight: 300;
}